{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

<div class="card card-body">
    <ul style="type: none">
        <li>Баслин Ярослав - python code and ajax</li>
        <li>Гусев Максим - Product Manager</li>
        <li>Лигай Дмитрий - бекенд attempt’ов + лента</li>
        <li>Азметов Данила - дизайн, фронтенд</li>
        <li>Квасова Валентина - красота и html</li>
        <li>Павлов Артем - бэкенд</li>
        <li>Летников Рим - бэкенд</li>
        <li>Корноушенко Игорь - бэкенд</li>
        <li>Тульская Ирина - дизайнер</li>
        <li>Анисимова Ирина - дизайнер</li>
        <li>Даценко Самуил - фронтенд</li>
        <li>Лабзин Георгий - фронтенд</li>
        <li>Бакланов Данила - фронтенд</li>
        <li>Юреня Роман - Тестировщик, фронтенд</li>
        <li>Киселев Семен - тестировщик, бэкенд</li>
        <li>Илюхин Данил - тестировщик + бекэнд</li>
    </ul>
</div>
{% endblock %}
