{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<section class="container-fluid profile-info">

    <div class="user-info">

        <div class="row" style="line-height: 10px;">
            <div class="col-2">
                <div class="user-avatar-profile">
                    {% if user_info and user_info.img %}
                    <img src="{{ MEDIA_URL }} {{ user_info.img.url }}" alt="ded">
                    {% else %}
                    <img src="{% static 'img/defaults/avatar/user_no_img.jpg' %}" alt="ded" style="display: block; margin: 0 auto;">
                    {% endif %}
                </div>
            </div>

            <span class="col-2 text-center">
                <h3 class="profile-rat">{{ attempts|length }}/{{ achievements_completed|length }}</h3>
                <p class="ach-caption">Попыток/выполнено</p>
            </span>
            <div class="col-2 text-center dropdown">
                <span class="  dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h3 class="profile-rat">{{ friends|length }}</h3>
                    <p class="ach-caption">друзья</p>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for i in friends %}
                    <a href="/accounts/{{ i.to_friend.username }}/" class="dropdown-item">{{ i.to_friend.username }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown col-2 text-center">
                <span style="" class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h3 class="profile-rat">{{ subscribers|length }}</h3>
                    <p class="ach-caption">подписчики</p>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for i in subscribers %}
                    <a href="/accounts/{{ i.from_friend.username }}/" class="dropdown-item">{{ i.from_friend.username }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown col-2 text-center ">
                <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h3 class="profile-rat">{{ subscriptions|length }}</h3>
                    <p class="ach-caption">подписки</p>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for i in subscriptions %}
                    <a href="/accounts/{{ i.to_friend.username }}/" class="dropdown-item">{{ i.to_friend.username }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if request.user.is_superuser %}
        <a href="{% url 'reports' %}">репорты</a> Всего репортов: {{ reports }}
        {% endif %}
    </div>

    <div class="row">

        <div class="col-2">
            <h3 class="profile-name">{{ request.user.username }}</h3>
        </div>
        <div class="col-2 text-center">
            <p class="profile-score">{% if user_info and user_info.exp %} {{ user_info.exp}} опыта {% else %} 0 опыта{% endif %}</p>
        </div>
        <div class="col-8 text-right float-right">
            <a href="{% url 'account_change_info' %}" style="margin-right: 16px;">
                <img width="30" height="30" src="{% static 'img/edit.svg' %}"></a>
            <a href="{% url 'account_logout' %}">
                <img width="30" height="30" src="{% static 'img/exit.svg' %}"></a></div>
    </div>
    <br>
</section>

<!-- Слайдер с ачивками-->
<section>
    <div class="slider-nav proff-cont row text-center">
        <div id="btn1" class="col-3 activebtn carousel_btn" role="presentation" class="text-center prof-title">Достижения в процессе ({{ uncompleted_attempts|length }})</div>
        <div id="btn4" class="col-3 carousel_btn" role="presentation" class="text-center prof-title"> Попытки на рассмотрение ({{ completed_attempts|length }})</div>
        <div id="btn2" class="col-3 carousel_btn" role="presentation" class="text-center prof-title">Законченные достижения ({{ achievements_completed|length }})</div>
        <div id="btn3" class="col-3 carousel_btn" role="presentation" class="text-center prof-title">Действия друзей ({{ activity|length }})</div>
    </div>

    <div id="elements_row" style="position: relative;">
        <div class="carousel_el" id="el1" style="position: absolute; width: 100%">
            <ul type=none>
                {% for i in uncompleted_attempts %}
                <li>
                    <input type="hidden" name="attempt" value="{{ i.id }}">
                    <div class="card attempt-card" style="width: 30rem;margin: 2rem auto;">
                        <div class="card-body" id="attempt-{{ i.id }}">
                            <div class="img_container" style="width: 98%;"><img src="{{ MEDIA_URL }} {{ i.photo.url }}" class="card-img-top" alt="..."></div>
                            <h5 class="card_title">Попытка к достижению <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a></h5>
                            <hr>
                            {% if i.get_todo_list|length != 0 %}
                            <h6>Ваш список задач</h6>
                            {% for j in i.get_todo_list %}
                            <p>{{ j }}</p>
                            {% endfor %}
                            {% else %}
                            <p>Вы не составляли задачи по выполнению достижения</p>
                            {% endif %}
                            <footer class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-success" name="proceed-changing" onclick="html_replacement({{ i.id }});">Завершить</button>
                                </div>
                                <div class="col-6"><button type="button" class="btn btn-info float-right" onclick="delete_attempt({{ i.id }});">Удалить</button></div>
                            </footer>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel_el invis" id="el2" style="position: absolute; width: 100%;">
            <ul type=none>
                {% for i in completed_attempts %}
                <article class="card col-11 card-body attempt-card" id="attempt-{{ i.id }}">
                    <header>
                        <div class="card_user">
                            <div class="user-avatar">
                                {% if not i.creator_info.img %}
                                <img src="{% static 'img/defaults/avatar/user_no_img.jpg' %}" alt="ded">
                                {% else %}
                                <img src="{{ MEDIA_URL }}{{ i.creator_info.img.url }}" alt="ded">
                                <h5>{{ i.creator.username }}</h5>
                                {% endif %}
                            </div>
                            <div class="card_username"><a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a></div>
                            <p class="card-text points_added" style="color:green;">+{{ i.achievement.exp }} xp</p>

                        </div>
                    </header>
                    <div class="row images_row" style="">
                        <span class="img_container"><img src="{{ MEDIA_URL }} {{ i.photo.url }}" class="card-img-top" alt="..."></span>
                        <span class="img_container"><img src="{{ MEDIA_URL }} {{ i.photo_second.url }}" class="card-img-top" alt="..."></span>
                    </div>

                    <main>
                        <h5 class="card_title">Попытка к достижению <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a></h5>
                        <span class="difficulty" title="">
                            <svg height="12" width="50">
                                {% if i.achievement.difficulty >= 1 %}
                                    <circle cx="4" cy="5" r="4" fill="#4CAF50"> </circle> <!-- Easy -->
                                    {% if i.achievement.difficulty >= 2 %}
                                        <circle cx="16" cy="5" r="4" fill="#8BC34A"> </circle><!-- +Intermediate -->
                                        {% if i.achievement.difficulty >= 3 %}
                                            <circle cx="28" cy="5" r="4" fill="#F44336"> </circle><!-- +Hard -->
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </svg>
                        </span>
                        <br>
                        <span id="{{i.id}}">Оценка: {{ i.rate }}%</span>
                    </main>
                    {% if request.user.id == i.creator.id or request.user.is_superuser %}
                        <button type="button" class="btn btn-info float-right" onclick="delete_attempt({{ i.id }});">Удалить</button>
                    {% endif %}
                </article>

                <div class="modal"></div>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel_el invis" id="el3" style="position: absolute; width: 100%;">
            <ul type=none>
                {% for i in achievements_completed %}
                <li>
                    <div class="card card-body" id="user_made_ach_card">
                        <h5 class="card-title" style="color: black;"><a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a></h5>
                        <span class="card-text" style="color: black;">Вы прошли это достижение. Дата {{ i.date }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel_el invis" id="el4" style="position: absolute; width: 100%;">
            <ul type=none>
                {% for i in activity %}
                <li>
                    <article class="card col-11 card-body attempt-card">
                        {% if i.me == "achievement" %}
                        <header>
                            <p>Ваш друг <a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a>
                                создал достижение <a href="/achievements/list/{{ i.caption }}/">{{ i.caption }}</a></p>
                        </header>
                        {% elif i.me == "ach_rate" %}
                        <header>
                            <p>Ваш друг <a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a>
                            оставил комментарий под достижением <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a></p>
                        </header>
                        {% elif i.me == "attempt" %}
                        <header>
                            <p>Ваш друг <a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a>
                            оставил попытку под достижением <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a></p>
                        </header>
                        {% elif i.me == "attempt_rate" %}
                        <header>
                            <p>Ваш друг <a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a>
                            оставил комментарий под попыткой достижения <a href="/achievements/list/{{ i.attempt.achievement.caption }}/">{{ i.attempt.achievement.caption }}</a></p>
                        </header>
                        {% else %}
                        <header>
                            <p>Ваш друг <a href="/accounts/{{ i.user.username }}/">{{ i.user.username }}</a>
                            выполнил достижение <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a>.
                            {{ i.date }}</p>
                        </header>
                        {% endif %}
                    </article>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</section>
<div class="modal"></div>

<script>
    var images = document.querySelectorAll('.card-img-top'),
        modal = document.querySelector('.modal');
    images.forEach(function(image) {

        image.addEventListener('click', function(event) {
            modal.innerHTML = '<div class="modal-content"><img src="' + event.target.src + '" style="width: 100%;"></div>';
            modal.style.display = 'block';
        });
    });

    modal.addEventListener('click', function() {
        this.style.display = 'none';
    });
    el2.style.top = el1.clientHeight.toString() + "px";
    el3.style.top = (el1.clientHeight + el2.clientHeight).toString() + "px";
    el4.style.top = (el1.clientHeight + el2.clientHeight + el3.clientHeight).toString() + "px";
    var carousel_btns = document.getElementsByClassName("carousel_btn");
    var carousel_els = document.getElementsByClassName("carousel_el");

    function switch_tab(n) {
        for (let i = 0; i < carousel_btns.length; i++) {
            carousel_btns[i].classList.remove("activebtn");
            carousel_els[i].classList.add("invis");

        };
        carousel_btns[n].classList.add("activebtn");
        carousel_els[n].classList.remove("invis");
        carousel_els[n].style.top = 0;

    };

    for(let i = 0; i < carousel_btns.length; i++){
        carousel_btns[i].addEventListener('click', function(){
            switch_tab(i)

        });

    };

    function html_replacement(id) {

        var elem = document.getElementById("attempt-" + id);


        $.ajax({
            url: '/accounts/profile/?attempt=' + id,
            type: 'GET',
            success: function(response) {
                elem.innerHTML = response;
                var new_hidden = document.getElementById('hidden-input-for-attempt');
                new_hidden.value = parseInt(id);
                $("button[name='proceed-changing']").remove();

            }

        })
    }

    function delete_attempt(id) {
        var args = {};
        var elem = document.getElementById("attempt-" + id);

        args['attempt_id'] = id;
        args['csrfmiddlewaretoken'] = "{{ csrf_token }}";

        $.ajax({
            url: '/accounts/profile/',
            type: 'POST',
            data: args,
            success: function() {
                elem.remove();
            }
        })

    }

</script>

{% endblock %}
