{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}


<div class="card card-body">
{% for i, j in users %}
<div class="row col-6" style="font-size: 1.1rem; margin: 0 auto;"><a class="col-6" href="/accounts/{{ i.username }}">{{i.username}}
</a> <span class="col-6 text-right" style="color:green;">{{j}}</span>
    </div>
{% endfor %}
</div>
{% endblock %}
