{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block body %}
{% block content %}
{% load static %}

<div class="card card-body">
{% for i in achievements %}
<div class="row col-6" style="font-size: 1.1rem; margin: 0 auto;"><a class="col-6" href="achievements/list/{{i.caption}}/">{{i.caption}}
</a> <span class="col-6 text-right" style="color:green;">{{i.exp}} опыта</span>
    </div>
{% endfor %}
</div>
{% endblock %}
{% endblock %}
