{% extends 'base.html' %}
{% block title %} Top {% endblock %}
{% block content %}
{% load static %}

<!--
    Error:
    Not Found: /slick/slick.min.js
    [13/Apr/2019 07:59:44] "GET /slick/slick.min.js HTTP/1.1" 404 4663

-->


	<div class="slider-nav add-ach">
		<div role="presentation" class="text-center">Людей</div>
		<div role="presentation" class="text-center">Ачивок</div>
	</div>


	<div class="slider-for">
		<div class="cont1"><div class="row pr-ach">
					<div class="col-3">
						<div class="user-avatar-profile">
							<img src="img/22.jpg" alt="">
						</div>
					</div>
					<div class="col-3 text-center">
						<h3 class="profile-rat">Человек</h3>
						<p class="ach-caption">dd.mm.yyyy</p>
					</div>
					<div class="col-6 text-center">
						<h3 class="profile-rat">Nnnnnnn</h3>
						<p class="ach-caption">cccccccccc</p>
					</div>

				</div></div>
		<div class="cont2">
            <div class="row pr-ach">
					<div class="col-3">
						<div class="user-avatar-profile">
							<img src="img/22.jpg" alt="">
						</div>
					</div>
					<div class="col-3 text-center">
						<h3 class="profile-rat">Ачивка</h3>
						<p class="ach-caption">dd.mm.yyyy</p>
					</div>
					<div class="col-6 text-center">
						<h3 class="profile-rat">Nnnnnnn</h3>
						<p class="ach-caption">cccccccccc</p>
					</div>

				</div>
        </div>
	</div>
    
{% endblock %}
