<div>
    <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <input type="hidden" id="hidden-input-for-attempt" name="attempt">
        {{ confirm_form.as_p }}
        <input type="submit" name="attempt-fill" value="Отправить">
    </form>
</div>