{% load static %}
<nav class="navbar navbar-expand fixed-bottom navbar-ight bg-light">
	<hr>
	<ul class=" container navbar-nav text-center">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home' %}"><img src="{% static 'img/icon-home.png' %}" class="nav-img" alt=""></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'achievements' %}"><img src="{% static 'img/icon-lupa.png' %}" class="nav-img" alt=""></a>
		</li>
		<li class="nav-item">
			<a class="nav-link nav-link-logo" href="{% url 'achievements' %}" ><img src="{% static 'img/Logo2.png' %}" class="nav-img-logo" alt=""></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'create' %}"><img src="{% static 'img/plus_icon-icons.com_69322.png' %}" class="nav-img" alt=""></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'profile' %}"><img src="{% static 'img/male-user-shadow.png'%}" class="nav-img" alt=""></a>
		</li>
	</ul>
</nav>
