{% load static %}
<header class="containe-fluid fixed-top header-panel" style="background-color: white;">

    <div class="row">
        <div class="col-4">
            <div class="logo text-center">
                <h1><a class="nav-link" href="{% url 'home' %}" style="color: #414141;">LifeAch</a></h1>
            </div>
        </div>
        <div class="col-4 my-auto">
            <div class="lenta text-center">
                <h4 class=" align-bottom">{{ page_name }}</h4>
            </div>
        </div>
        <div class="col-2 text-center my-auto symbol-achieve">
            <a href="{% url 'top_ladder' %}"><img src="{% static 'img/podium.png' %}" alt="" width="50%" height="auto"></a>
        </div>
        <div class="col-2 text-center my-auto symbol-achieve">
            <a href="{% url 'top_achievements' %}"><img src="{% static 'img/trophy.svg' %}" alt="" width="50%" height="auto"></a>
        </div>
    </div>
    <hr class="hr-horizontal-gradient">
            	<a href="/about/developers/" id="about" style="font-size: 0.7rem; position: absolute; bottom: 0;">Создатели</a>

</header>
