<div id="report-html">
    <div class="card" style="margin-top: 19px; width: 36rem;">
  <div class="card-body">

    <h4 style="margin-bottom: 9px;">Отправление жалобы</h4>
    <input type="hidden" name="obj_type" id="obj_type">
    <input type="hidden" name="type-id" id="type-id">
    {{ form.message }}
    <button type="button" class="btn btn-info" onclick="report_send();" style="margin-top: 9px;">Отправить</button>
  </div>
</div>
</div>
