<div id="сomment-html">
    <h5>Прокомментировать попытку пользователя</h5>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="attempt_id" id="id">
        <input type="hidden" name="achievement_id" id="ach">
        {{ form.label }}{{ form.message }}
        <button type="submit" class="btn btn-info">Отправить</button>
    </form>
</div>
