{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %} Login {% endblock %}
{% block body %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <h2>
                Добро пожаловать на Live - Ach!
            </h2>
            <p>
                Создавайте и выполняйте ачивки (достижения) в реальной жизни, добивайтесь целей и делитесь ими с
                другими пользователями
            </p>
        </div>
        <div class="col-md-5">
            <div class="card text-center">
                <div class="card-body">
                    <h6>Log in</h6>
                    <h2>Life - Ach</h2>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <div style="margin-bottom: 8px">{{ form.login }}</div>
                        <div style="margin-bottom: 8px">{{ form.password }}</div>
                        {{ form.remember.label_tag }}{{ form.remember }}<br>
                        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        <button class="btn btn-outline-primary" type="submit">{% trans "Sign In" %}</button>
                    </form>

                </div>
                <div class="card-footer text-muted">
                    <p>Нет аккаунта? <a href="{% url 'account_signup' %}">Зарегистрируйтесь</a></p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% endblock %}
