{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;
    margin-left: auto; margin-right: auto; margin-top: 179px;">
    <div class="card text-center">
    <div class="card-body">
        <h3>{% trans "Sign Out" %}</h3>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-outline-primary">{% trans 'Sign Out' %}</button>
        </form>
</div>
    </div>
</div>


{% endblock %}
