{% extends 'base.html' %}
{% block title %} {{ user }} {% endblock %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    function report_html(type, id){
                var elem = document.getElementById('report-text');

                $.ajax({
                    url: '?report=' + type,
                    type: 'GET',
                    success: function(response){
                        elem.innerHTML = response;

                        var type_hidden = document.getElementById('obj_type');
                        type_hidden.value = type;
                        console.log(type_hidden.value);

                        var id_hidden = document.getElementById('type-id');
                        id_hidden.value = id;
                        console.log(id_hidden.value);
                    }
                })
    }

    function report_send(type){
        var args = {};

        var id = document.getElementById('type-id');
        var type = document.getElementById('obj_type');
        var full_elem = document.getElementById('report-html');     // for delete
        var text = document.getElementById('id_message');

        args['csrfmiddlewaretoken'] = "{{ csrf_token }}";
        args['message'] = text.value;
        args['obj_type'] = type.value;
        args['type-id'] = id.value;
        args['sending'] = "send";

        $.ajax({
            url: '/accounts/{{ user.username }}/',
            type: 'POST',
            data: args,
            success: function(){
                full_elem.remove()
            }

        })
    }

</script>
<section class="container-fluid profile-info">

    <div class="user-info">

        <div class="row">
            <div class="col-2">
                <div class="user-avatar-profile">
                    {% if user_info.img %}
                    <img src="{{ MEDIA_URL }} {{ user_info.img.url }}" alt="ded">
                    {% else %}
                    <img src="{% static 'img/defaults/avatar/user_no_img.jpg' %}" alt="ded" style="display: block; margin: 0 auto;">
                    {% endif %}
                </div>
            </div>

            <span class="col-2 text-center">
                <h3 class="profile-rat">{{ attempts|length }}/{{achievements_completed|length}}</h3>
                <p class="ach-caption">Попыток/выполнено</p>
            </span>
            <div class="dropdown col-2 text-center">
            <span class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h3 class="profile-rat">{{ friends|length }}</h3>
                <p class="ach-caption">друзья</p>
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for i in friends %}
                    <a href="/accounts/{{ i.to_friend.username }}/" class="dropdown-item">{{ i.to_friend.username }}</a>
                {% endfor %}
            </div>
                </div>
            <div class="dropdown col-2 text-center">
            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h3 class="profile-rat">{{ subscribers|length }}</h3>
                <p class="ach-caption">подписчики</p>
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for i in subscribers %}
                <a href="/accounts/{{ i.from_friend.username }}/" class="dropdown-item">{{ i.from_friend.username }}</a>
                {% endfor %}
            </div>
                </div>
            <div class="dropdown col-2 text-center ">
            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h3 class="profile-rat">{{ subscriptions|length }}</h3>
                <p class="ach-caption">подписки</p>
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               {% for i in subscriptions %}
                    <a href="/accounts/{{ i.to_friend.username }}/" class="dropdown-item">{{ i.to_friend.username }}</a>
                {% endfor %}
            </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h3 class="profile-name">{{ user.username }}</h3>
        </div>
        <div class="col-2 text-center">
            <p class="profile-score">{% if user_info and user_info.exp %} {{ user_info.exp}} опыта {% else %} 0 опыта{% endif %}</p>
        </div>

    </div>
    <br>
    <div class="row">
    {% if request.user.id != user.id %}

        {% if user.id != request.user.id %}
    {% if is_known %}
    <form action="remove/" method="post"> {% csrf_token %}
        <input type="Submit" class="btn btn-info" value="Отписаться">
    </form>

    {% else %}

    <form action="add/" method="post"> {% csrf_token %}
        <input type="Submit"  class="btn btn-info" value="Подписаться">
    </form>

    {% endif %}
    {% endif %}
    <button type="button" class="btn btn-danger float-right" onclick="report_html('user', {{ user.id }});">Пожаловаться</button>
    {% endif %}
    <div id="report-text">

    </div>


        </div>
</section>
<br>
<!-- Слайдер с ачивками-->
<section>
    <div class="slider-nav proff-cont row text-center">
        <div id="btn1" class="col-4 activebtn" role="presentation" class="text-center prof-title">Попытки пользователя ({{ attempts|length }})</div>
        <div id="btn2" class="col-4" role="presentation" class="text-center prof-title">Законченные достижения ({{ achievements_completed|length }})</div>
        <div id="btn3" class="col-4" role="presentation" class="text-center prof-title">Активность пользователя ({{ activity|length }})</div>
    </div>

    <div id="elements_row" style="position: relative;">
        <div class="carousel_el" id="el1" style="position: absolute; width: 100%">
            <ul type=none>
                {% for i in attempts %}
                <li>
                    <article class="card col-11 card-body attempt-card" id="attempt-{{ i.id }}">
                        <header>
                            <div class="card_user">
                                <div class="user-avatar">
                                    {% if not i.creator_info.img %}
                                    <img src="{% static 'img/defaults/avatar/user_no_img.jpg' %}" alt="ded">
                                    {% else %}
                                    <img src="{{ MEDIA_URL }}{{ i.creator_info.img.url }}" alt="ded">
                                    <h5>{{ i.creator.username }}</h5>
                                    {% endif %}
                                </div>
                                <div class="card_username"><a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a></div>
                                <p class="card-text points_added" style="color:green;">+{{ i.achievement.exp }} xp</p>

                            </div>
                        </header>
                        <div class="row images_row" style="">
                            <span class="img_container"><img src="{{ MEDIA_URL }} {{ i.photo.url }}" class="card-img-top" alt="..."></span>
                            <span class="img_container"><img src="{{ MEDIA_URL }} {{ i.photo_second.url }}" class="card-img-top" alt="..."></span>
                        </div>

                        <main>
                            <h5 class="card_title">Попытка к достижению <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a></h5>
                            <span class="difficulty" title="">
                                <svg height="12" width="50">
                                    {% if i.achievement.difficulty >= 1 %}
                                        <circle cx="4" cy="5" r="4" fill="#4CAF50"> </circle> <!-- Easy -->
                                        {% if i.achievement.difficulty >= 2 %}
                                            <circle cx="16" cy="5" r="4" fill="#8BC34A"> </circle><!-- +Intermediate -->
                                            {% if i.achievement.difficulty >= 3 %}
                                                <circle cx="28" cy="5" r="4" fill="#F44336"> </circle><!-- +Hard -->
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </svg>
                            </span>
                            <br>
                            <span id="{{i.id}}">Оценка: {{ i.rate }}%</span>
                        </main>
                    </article>
                    <div class="modal"></div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel_el invis" id="el2" style="position: absolute; width: 100%;">
            <ul type=none>
                {% for i in achievements_completed %}
                <li>
                    <div class="card card-body" id="user_made_ach_card">
                            <h5 class="card-title" style="color: black;"><a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a></h5>
                            <span class="card-text" style="color: black;">{{ user.username }} прошли это достижение. Дата {{ i.date }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel_el invis" id="el3" style="position: absolute; width: 100%;">
            <ul type=none>
            {% for i in activity %}
                <li>
                    <article class="card col-11 card-body attempt-card">
                        {% if i.me == "achievement" %}
                        <header>
                            <p><a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a>
                                создал достижение <a href="/achievements/list/{{ i.caption }}/">{{ i.caption }}</a></p>
                        </header>
                        {% elif i.me == "ach_rate" %}
                        <header>
                            <p><a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a>
                            оставил комментарий под достижением <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a></p>
                        </header>
                        {% elif i.me == "attempt" %}
                        <header>
                            <p><a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a>
                            оставил попытку под достижением <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a></p>
                        </header>
                        {% elif i.me == "attempt_rate" %}
                        <header>
                            <p><a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a>
                            оставил комментарий под попыткой достижения <a href="/achievements/list/{{ i.attempt.achievement.caption }}/">{{ i.attempt.achievement.caption }}</a></p>
                        </header>
                        {% else %}
                        <header>
                            <p><a href="/accounts/{{ i.user.username }}/">{{ i.user.username }}</a>
                            выполнил достижение <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a>.
                            {{ i.date }}</p>
                        </header>
                        {% endif %}
                    </article>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>





<div class="modal"></div>

<script>
    var images = document.querySelectorAll('.card-img-top'),
        modal = document.querySelector('.modal');
    images.forEach(function(image) {

        image.addEventListener('click', function(event) {
            modal.innerHTML = '<div class="modal-content"><img src="' + event.target.src + '" style="width: 100%;"></div>';
            modal.style.display = 'block';
        });
    });

    modal.addEventListener('click', function() {
        this.style.display = 'none';
    });
    el2.style.top = el1.clientHeight.toString() + "px";
    el3.style.top = (el1.clientHeight + el2.clientHeight).toString() + "px";

    function show_complete() {
        el3.classList.add("invis");
        el2.classList.add("invis");
        el1.classList.remove("invis");
        btn1.classList.add("activebtn")
        btn2.classList.remove("activebtn")
        btn3.classList.remove("activebtn")
    };

    function show_created() {
        el1.classList.add("invis");
        el3.classList.add("invis");
        el2.classList.remove("invis");
        el2.style.top = 0;
        btn2.classList.add("activebtn")
        btn1.classList.remove("activebtn")
        btn3.classList.remove("activebtn")

    };

    function delete_windows() {
        el1.classList.add("invis");
        el2.classList.add("invis");
        el3.classList.remove("invis");
        el3.style.top = 0;
        btn2.classList.remove("activebtn")
        btn1.classList.remove("activebtn")
        btn3.classList.add("activebtn")
    }
    btn1.addEventListener('click', show_complete);
    btn2.addEventListener('click', show_created);
    btn3.addEventListener('click', delete_windows);


    function html_replacement(id) {

        var elem = document.getElementById("attempt-" + id);


        $.ajax({
            url: '/accounts/profile/?attempt=' + id,
            type: 'GET',
            success: function(response) {
                elem.innerHTML = response;
                var new_hidden = document.getElementById('hidden-input-for-attempt');
                new_hidden.value = parseInt(id);
                $("button[name='proceed-changing']").remove();

            }

        })
    }

    function delete_attempt(id) {
        var args = {};
        var elem = document.getElementById("attempt-" + id);

        args['attempt_id'] = id;
        args['csrfmiddlewaretoken'] = "{{ csrf_token }}";

        $.ajax({
            url: '/accounts/profile/',
            type: 'POST',
            data: args,
            success: function() {
                elem.remove();
            }
        })

    }

</script>

{% endblock %}
