{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="card" style="width: 25rem;">
            <div class="card text-center">
                <div class="card-body">
                    <h1>{% trans "Sign Up" %}</h1>

                    <p style="font-size: 15px;">Уже есть аккаунт? <a href="{{ login_url }}">Войдите</a>.
                    </p>
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <div style="margin-bottom: 8px;">{{ form.username }} {{ form.username.error }}</div>
                        <div style="margin-bottom: 8px;">{{ form.email }}{{ form.email.error }}</div>
                        <div style="margin-bottom: 8px;">{{ form.password1 }}{{ form.password1.error }}</div>
                        <div style="margin-bottom: 12px;">{{ form.password2 }}{{ form.password2.error }}</div>
                        <button type="submit" class="btn btn-outline-primary">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
