{
    % load staticfiles %
}

<link rel="stylesheet"href="{% static "css/bootstrap.min.css" %}" > <link rel="stylesheet"href="{% static "css/style.css" %}" > @font-face {
    font-family: 'DinPro';
    src: url("{% static "/fonts/dinpro-medium.otf" %}")
}

@font-face {
    font-family: 'DinProL';
    src: url("{% static "/fonts/dinpro-light.otf" %}")
}

body {
    max-width: 800px;
    margin: auto;

    /*height: 600px;*/
}

h5 {
    margin-bottom: 0;
}

h4.title-profile {
    font-size: 1.2rem;
}

h3.profile-rat {
    font-size: 1.5rem;
}

h3.profile-name {
    font-size: 1.5rem;
}

.header-panel {
    background-color: #fff;
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    max-width: 800px;
    margin: auto;
    /*height: 62px;*/
}

.margin-fix {
    margin-top: 123px;
}

.margin-fix2 {
    margin-bottom: 123px;
}

.logo {

    border-right: 2px solid;
    margin: 10px 0 10px 10px;
}

.lenta {
    margin-top: 11px;
}

.symbol-achieve > a > img {
    max-width: 62px;
}

.hr-horizontal-gradient {
    margin: 0;
    padding: 0;
    height: 3px;
    border: none;
    background: linear-gradient(45deg, #53e0d4, #62aef0);
}

.user-info {
    margin: 72px 0 0;
}

.user-avatar {
    margin-right: 5px;
    border: 2px solid #adadad;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

}

.user-avatar > img {
    width: auto;
    height: 100%;
}

.card {
    border-radius: 10px;
}

.card_user {
    height: 50px;
}

.card_username {
    display: inline-block;
    vertical-align: middle;

}

.card_username a {
    color: #3F51B5 !important;
}

.card_title {
    display: inline-block;
    color: gray;
}

.modal {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;

}

.modal .modal-content {
    margin: 0 auto;
    width: 45%;
    color: #fff;
}

.modal img,
.modal span {
    z-index: 10;
}

.card_text a,
.card_title a {
    color: black;
}

.points_added {
    display: inline-block;
    line-height: 55px;
    vertical-align: middle
}

.user-avatar-profile {
    border: 1px solid #53e0d4;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.user-avatar-profile > img {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.achievement_caption {
    font-size: 1.7rem;
    margin: 5px 0 15px 0;
    display: inline-block;
}

.achievement_description {
    font-size: 1.1rem;
    color: #3e3e3e;
}

.achievement_card main,
.achievement_card footer {
    margin-top: 10px;
    padding: 0 7px;
}

#btn1,
#btn2,
#btn3 {
    cursor: pointer;
}

.dropdown-toggle {
    cursor: pointer;
}

.difficulty {
    display: inline-block;
    cursor: pointer;
    line-height: 5px;
    margin-left: 5px;
}

.activebtn {
    color: #17a2b8;
}

#options_block input {
    margin: 2px 0;
}

.action_btn img {
    width: 15px;
    height:15px;
}
.action_btn {
    position: relative;
    cursor: pointer;

}
.carousel_btn {
    cursor: pointer;
}
.choose_difficulty input, .choose_difficulty label {
   cursor: pointer;
   margin-right: 5px;
}
.radio-inline {
    margin-right: 15px !important;
}
input[type=range] {
    -webkit-appearance: none;
    width: 85%;
    height: 50px;
}

/*полоса в хроме*/
input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    border: 1px solid #575656;
    background: linear-gradient(45deg, #17a2b8, #6610f2);
}

/*Полоса в Мозиле*/
input[type=range]::-moz-range-track {
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000;
    background: linear-gradient(45deg, #17a2b8, #6610f2);
    border: 1px solid #575656;
}

/*Бегунок в Хроме*/
input[type=range]::-webkit-slider-thumb {
    -webkit-box-shadow: 1px 1px 1px #000;
    box-shadow: 1px 1px 1px #000;
    border: 1px solid #000;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

/*Бегунок в Мозиле*/
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 40%/60%;
    background: #ffffff;
    cursor: pointer;
}


input.inp-reit {
    width: 30px;
    /*border: none;*/
    margin-top: 10px;
    border: 1px solid #00d0cd;
    border-radius: 50%;
    font-weight: 800;
}

.navbar {
    max-width: 800px;
    margin: auto;
    border-top: 1px solid #ccc;
}

.nav-img {
    max-width: 25px;
}

.card-img-top {
    min-height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.images_row {}

.img_container {
    display: inline-block;
    width: 47%;
    margin: 10px auto;
    overflow: hidden;
    max-height: 300px;
    min-height: 150px;
    border-radius: 10px;
    background: #DDDDDD;
}


.attempt-card header {
    margin-bottom: 10px;
    padding: 0 5px;
}

.attempt-card main {
    padding: 0 5px;
}

.attempt-card footer {
    margin-top: 15px;
    padding: 0 5px;
}

.attempt-card {
    margin: 0 auto 20px auto;
}

.nav-img-logo {
    max-width: 50px
}

.nav-link-logo {
    margin-top: -60px;
}

/* Стили двух заговочных надписей*/
.banner {
    position: relative;
    padding-top: 150px;
}

.banner > h5 {
    color: #5a5a5a;
    margin-bottom: 0px;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    font-family: DinPro;
}

.banner > h1 {
    color: #000;
    margin-top: 0;
    letter-spacing: 3.2px;
    line-height: 0.8;
    font-size: 4.1rem;
    font-family: DinPro;
}



/* Стили полей ввода */
.polls {
    font-family: DinProL;
    max-width: 98%;
    padding-top: 15px;
}

.inPolls {
    height: 38px;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

#lastPoll {
    margin-bottom: 15px;
}

.inPolls > input {
    height: 38px;
    margin-left: 1%;
    padding: bottom 2px;
    width: 90%;
    background: #fff;
    border-color: #4abfe1;
    border-style: groove;
    border-radius: 0.5rem;
    margin: auto;
}

.inPolls > button {
    width: 1px;
    background-color: #000;
    border-color: beige;
}

.add-ach {
    margin-top: 78px;
}

.add-image {
    float: right
}

.uploadButton {
    padding: 0px 19px 6px;
    color: #7d7676;
    font-size: 48px;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #7d7676;
}

.add-ach-inp {
    border: 1px solid #7d7676;
    font-size: 1.2rem;
    border-radius: 10px;
}

.add-ach-inp-opis {
    width: 100%;
    padding-left: 10px;
}

.time-title {
    margin: 10px
}

.creat-button {
    margin: 10px
}

/*nnnnnnnnn*/
.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1 {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    float: right;
}

.invis {
    opacity: 0;
}

html[xmlns] .input-file-row-1 {
    display: block;
}

* html .input-file-row-1 {
    height: 1%;
}

.upload-file-container {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    background: url(../img/plus-foto.png) top center no-repeat;
    float: left;
    margin-left: 23px;
    border-radius: 50%;

}

.upload-file-container:first-child {
    margin-left: 0;
}

.upload-file-container > img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    /*-moz-border-radius: 5px;*/
    border-radius: 50%;
    border: 2px solid #01c0dc;
}

.upload-file-container-text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #337ab7;
    line-height: 17px;
    text-align: center;
    display: block;
    position: absolute;
    left: 18px;
    bottom: 15px;
    /* width: 68px; */
    /* height: 35px; */
    font-weight: 700;
}

.upload-file-container-text > span {

    cursor: pointer;
}

.container_center {
    margin: 0 auto;
    background: red;
}

.upload-file-container input {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin: 0;
    padding: 0;
    border: none;
    width: 70px;
    height: 50px;
    cursor: pointer;
}


.choice_block {
    margin-top: 49%;
}

.text1 > a {
    color: #8c8c8c;
    text-decoration: none;
}

.text1 > a:visited {
    color: #8c8c8c;
}

.text1 > a:active {
    color: #16ee95;
}

#hr1 {
    display: inline-block;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 40vh;
    width: 1px;
    background-color: #5c5c5c;
}

.text1 {
    font-size: 2rem;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}


.top-slider {
    margin-top: 46px;
}


.top-menu {
    height: 50px;
    font-family: DinProL;
    font-size: 1.5rem;
    color: #989898;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.top-und-menu {
    width: 95%;
}

.top-line {
    padding: 0;
    max-width: 1px;
    background-color: #000;
}

.top-user1 {
    color: #555;
    border-bottom: 1px solid #000;
}


.top-ach1 {
    color: #bab7b3;
    border-bottom: 1px solid #bab7b3;
}

.top-user2 {
    color: #bab7b3;
    border-bottom: 1px solid #bab7b3;
}


.top-ach2 {
    color: #555;
    border-bottom: 1px solid #000;
}

.ach-caption {
    font-size: 0.7rem;
    color: #838383;
}

p.profile-score {
    margin-bottom: 0;
}

p.profile-level {
    margin-bottom: 3px;
}

section.profile-info {
    border-bottom: 1px solid #ccc;
}

.text-center.slick-slide.slick-current.slick-active {
    border-bottom: 1px solid #00b2ed;
}

div.slider-for {
    height: 100%;
}

div.cont1 {
    height: 100vh;
}

div.cont2 {
    height: 100vh;
}

.pr-ach {
    margin-top: 20px;
    padding-left: 15px;
    margin-right: auto;
}

.prof-title {
    padding: 4px 0 9px 0;
}


/*nnnnnn*/

@media only screen and (max-width:600px) {
    h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    h4 {
        font-size: 1.4rem;
        font-weight: 500;
        color: #8f8f8f;
    }

    .add-ach {
        margin-top: 62px;
    }

    .proff-cont {
        margin-top: 8px;
    }
}
