{% extends 'base.html' %}
{% block title %} Solving reports {% endblock %}
{% block content %}
{% load static %}
{% for i in reports %}
    {% if i.what_am_i == "attempt" %}
    <div class="card m-3" id="report-attempt-{{ i.id }}" style="margin-bottom: 19px;">
            <div class="card-body">
        <h3>Жалоба № {{ i.content_object.id }}. От пользователя {{ i.from_who }}</h3>
        <p>К достижению: {{ i.content_object.achievement.caption }}</p>
        <p>Сообщение:</p>
        <div class="card">
            <div class="card-body"> {{ i.message }}</div>
        </div>
        <br>
        <p>Отправленный пользователем результат:</p>
        <p>
            <div class="card">
                <div class="card-body">
                    <header>
                        <div class="card_user">
                            <div class="user-avatar">
                                {% if i.content_object.creator_info.img is None %}
                                <img src="{% static 'img/defaults/avatar/user_no_img.jpg' %}" alt="ded">
                                {% else %}
                                <img src="{{ MEDIA_URL }}{{ i.content_object.creator_info.img.url }}" alt="ded">
                                <h5>{{ i.creator.username }}</h5>
                                {% endif %}
                            </div>
                            <div class="card_username"><a href="/accounts/{{ i.creator.username }}/">
                                {{ i.content_object.creator.username }}</a></div>
        <p class="card-text points_added" style="color:green;">+{{ i.content_object.achievement.exp }} xp</p>
    </div>
    <div class="row images_row" style="">
            <span class="img_container"><img src="{{ MEDIA_URL }} {{ i.content_object.photo.url }}" class="card-img-top"
                                             alt="..."></span>
        <span class="img_container"><img src="{{ MEDIA_URL }} {{ i.content_object.photo_second.url }}"
                                         class="card-img-top" alt="..."></span>
    </div>
    <main>
        <h5 class="card_title" style="display: inline-block;">Попытка к достижению
            <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.content_object.achievement.caption }}</a>
        </h5>
        <br>
        <h5 class="card_title" style="display: inline-block;">Задача достижения:
            {{ i.content_object.achievement.description }}</h5>
    </main>
</div></div></p>
<div style="float: right;">
<button type="button" class="btn btn-success" onclick="report('leave', 'attempt', {{ i.content_object.id }}, {{ i.id }});">Оставить</button>
        <button type="button" class="btn btn-danger" onclick="report('delete', 'attempt', {{ i.content_object.id }}, {{ i.id }})">Удалить</button>
        <button type="button" class="btn btn-dark" onclick="html_message('text-attempt', {{ i.id }});">Добавить собственное сообщение</button>
        <div id="text-attempt-{{ i.id }}">

        </div>
</div>
</div>
</div>

    {% elif i.what_am_i == "achievement" %}
    <div class="card m-3" id="report-achievement-{{ i.content_object.id }}">
        <p>Жалоба на достижение пользователя: {{ i.content_object.creator.username }}. От пользователя {{ i.from_who }}</p>
        <p>Название достижения: {{ i.content_object.caption }}</p>
        <p>Изображение:</p>
        <img src="{{ MEDIA_URL }} {{ i.content_object.photo.url }}" alt="ded" width="128px" height="128px">
        <button type="button" class="btn btn-success" onclick="report('leave', 'achievement', {{ i.content_object.id }}, {{ i.id }});">Оставить</button>
        <button type="button" class="btn btn-danger" onclick="report('delete', 'achievement', {{ i.content_object.id }}, {{ i.id }});">Удалить</button>
        <button type="button" class="btn btn-dark" onclick="html_message('text-achievement',{{ i.id }});">Добавить собственное сообщение</button>
        <div id="text-achievement-{{ i.id }}">

        </div>
    </div>

    {% elif i.what_am_i == "user" %}
    <div class="card m-3" id="report-user-{{ i.id }}">
        <p>Жалоба на пользователя: {{ i.content_object.user.username }}. От пользователя {{ i.from_who }}</p>
        <p>Статус пользователя: {{ i.content_object.status }}</p>
        <p>Аватарка пользователя: </p>
        <img src="{{ MEDIA_URL }} {{ i.content_object.img.url }}" alt="ded" width="128px" height="128px">
        <h3>Активность пользователя</h3>
        {% for i in i.content_object.get_activity %}
            {% if i.me == "achievement" %}
                <hr>
                <p>Создал достижение: {{ i.caption }}</p>
                <p>С задачей: {{ i.description }}</p>
                <p>Изображением: </p>
                <img src="{{ MEDIA_URL }} {{ i.photo.url }}" alt="ded" width="128px" height="128px">
            {% else %}
                <hr>
                <p>Создал попытку к достижению: {{ i.achievement.caption }}</p>
                <p>Задание достижения: {{ i.achievement.description }}</p>
                {% if i.is_completed == True %}
                    <p>И прошел достижение с такими изображениями</p>
                    <img src="{{ MEDIA_URL }} {{ i.photo.url }}" alt="ded" width="128px" height="128px">
                    <img src="{{ MEDIA_URL }} {{ i.photo_second.url }}" alt="ded" width="128px" height="128px">
                {% endif %}
            {% endif %}
        {% endfor %}
        <button type="button" class="btn btn-success" onclick="report('leave', 'user', {{ i.content_object.id }}, {{ i.id }});">Все нормально</button>
        <button type="button" class="btn btn-danger" onclick="report('delete', 'user', {{ i.content_object.id }}, {{ i.id }});">Повесить предупреждение</button>
        <button type="button" class="btn btn-dark" onclick="html_message('text-user',{{ i.id }});">Добавить собственное сообщение</button>
        <div id="text-user-{{ i.id }}">

        </div>
    </div>
    {% elif i.what_am_i == "attempt_comment" %}
    <div class="card m-3" id="report-attempt-comment-{{ i.id }}">
        <p>
            Жалоба на комментарий пользователя {{ i.content_object.creator.username }} под попыткой
            достижения <a href="/achievements/list/{{ i.content_object.attempt.achievement.caption }}/">{{ i.content_object.attempt.achievement.caption }}</a>.
        </p>
        <p>
            Комментарий: {{ i.content_object.commentary }}.
        </p>
        <button type="button" class="btn btn-success" onclick="report('leave', 'attempt-comment', {{ i.content_object.id }}, {{ i.id }});">Оставить</button>
        <button type="button" class="btn btn-danger" onclick="report('delete', 'attempt-comment', {{ i.content_object.id }}, {{ i.id }});">Удалить</button>
    </div>
    {% endif %}
{% endfor %}

<script>

    function html_message(under_what, report_id){
        var elem = document.getElementById(under_what + '-' + report_id);

        $.ajax({
            url: '?report=' + report_id,
            type: 'GET',
            success: function(response){
                elem.innerHTML = response;
                var warn_text = document.getElementById('warn-text');
                warn_text.id = "warn-text-" + report_id;

                var text_area = document.getElementById('id_message');
                text_area.id = 'id_message_' + report_id;
            }
        })
    }

    function report(action, type, id, report_id){
        console.log('report-' + type + '-' + report_id);
        var full_report = document.getElementById('report-' + type + '-' + report_id);
        console.log(full_report);
        var elem = document.getElementById('warn-text-' + report_id);
        var message = document.getElementById('id_message_' + report_id);
        var args = {};

        args['csrfmiddlewaretoken'] = "{{ csrf_token }}";
        args['action'] = action;
        args['type'] = type;
        args['id'] = id;
        args['report_id'] = report_id;
        if (elem) { args['message'] = message.value; }
        else { args['message'] = " "; }


        $.ajax({
            url: '/reports/review/',
            type: 'POST',
            data: args,
            success: function(){
                if (elem){
                    elem.remove();
                }
                full_report.remove();
            }
        })
    }

</script>

{% endblock %}

