<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
    {% load static %}
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css"%}">
    <!-- Slick slide -->
    <link rel="stylesheet" type="text/css" href="{% static "slick/slick.css" %}">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>

<body>

{% include 'snippets/header.html' %}
<div class="margin-fix">
{% block body %}

{% if messages %}
<div>
    <strong>Messages:</strong>
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

    {% block content %}
    {% endblock %}

    {% endblock %}
</div>
    {% block extra_body %}
    {% endblock %}
<div class="margin-fix2"></div>

{% include 'snippets/footer.html' %}

<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "slick/slick.min.js"%}"></script>
    <script src="{% static "js/jquery-3.4.1.min.js"%}"></script>

</body>
</html>
