{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}


{% for i in attempts %}

<article class="card col-11 card-body attempt-card" id="attempt-{{ i.id }}">
    <header>
        <div class="card_user">
            <div class="user-avatar">
                {% if not i.creator_info.img %}
                <img src="{% static 'img/defaults/avatar/user_no_img.jpg' %}" alt="ded">
                {% else %}
                <img src="{{ MEDIA_URL }}{{ i.creator_info.img.url }}" alt="ded">
                <h5>{{ i.creator.username }}</h5>
                {% endif %}
            </div>
            <div class="card_username"><a href="/accounts/{{ i.creator.username }}/">{{ i.creator.username }}</a></div>
            <p class="card-text points_added" style="color:green;">+{{ i.achievement.exp }} xp</p>

        </div>
    </header>
    <div class="row images_row" style="">
        <span class="img_container"><img src="{{ MEDIA_URL }} {{ i.photo.url }}" class="card-img-top" alt="..."></span>
        <span class="img_container"><img src="{{ MEDIA_URL }} {{ i.photo_second.url }}" class="card-img-top" alt="..."></span>
    </div>

    <main>
        <h5 class="card_title">Попытка к достижению <a href="/achievements/list/{{ i.achievement.caption }}/">{{ i.achievement.caption }}</a></h5>
        <span class="difficulty" title="">
            <svg height="12" width="50">
                {% if i.achievement.difficulty >= 1 %}
                    <circle cx="4" cy="5" r="4" fill="#4CAF50"> </circle> <!-- Easy -->
                    {% if i.achievement.difficulty >= 2 %}
                        <circle cx="16" cy="5" r="4" fill="#8BC34A"> </circle><!-- +Intermediate -->
                        {% if i.achievement.difficulty >= 3 %}
                            <circle cx="28" cy="5" r="4" fill="#F44336"> </circle><!-- +Hard -->
                        {% endif %}
                    {% endif %}
                {% endif %}
            </svg>
        </span>
        <br>
        {% if i.creator.id != request.user.id %}
        <span id="{{i.id}}">Оценка: {{ i.rate }}%</span>
        <br>
    </main>
    <footer>
        <div class="row">
        <span class="col-12">
            <button type="button" class="btn btn-success" onclick="send(1, {{ i.id }});">OK</button>
            <button type="button" class="btn btn-danger" onclick="send(0, {{ i.id }});">PS</button>
            <button type="button" class="btn btn-dark" onclick="comment_html({{ i.id }}, '{{ i.achievement.caption }}');">Оставить комментарий</button>
            {% if not request.user.is_superuser %}
                <button type="button" class="btn btn-primary float-right" name="report" onclick="report_html('attempt', {{ i.id }});">Пожаловаться</button>
            {% else %}
                <button type="button" class="btn btn-info float-right" onclick="delete_attempt({{ i.id }});">Удалить</button>
            {% endif %}
        </span>
        {% else %}
        <span id="{{ i.id }}">{% if i.rate == -1 %} Вас еще не оценили {% else %} Оценка: {{ i.rate }}% {% endif %}</span>
            {% if request.user.id == i.creator.id %}
                <button type="button" class="btn btn-info float-right" onclick="delete_attempt({{ i.id }});">Удалить</button>
            {% endif %}
        {% endif %}
        <div id="new-text-{{ i.id }}">

        </div>
        </div>
        <br>
        {% if i.get_comments %}
        <h5>Комментарии к попытке</h5>
        <hr style="margin: 4px 0;">
        {% for j in i.get_comments %}
        {% if j.commentary %}
        <div id="comment-{{ j.id }}">
        <span class="col-8 text-left" style="padding: 0; line-height: 15px;">
            <a href="/accounts/{{ j.creator.username }}/">{{ j.creator.username }}</a>:
            <span><i>{{ j.commentary }}</i></span>
        </span>
        <span class="col-4 float-right text-right">
            {% if j.creator.id == request.user.id or request.user.is_superuser %}
                <span class="col-4 action_btn" id="delete-comment-btn-{{ j.id }}" onclick="delete_comment('attempt_comment', {{ j.id }})"><img src="{% static 'img/close-cross.svg' %}"></span>
            {% elif j.creator.id != request.user.id and not request.user.is_superuser %}
                <span class="col-4 action_btn" id="report-comment-btn-{{ j.id }}" onclick="report_comment('attempt_comment', {{ j.id }})"><img src="{% static 'img/exclamation-mark.svg' %}"></span>
            {% endif %}
        </span>
        <br>
        </div>

        {% endif %}
        {% endfor %}
        {% endif %}
    </footer>
</article>
<div class="modal"></div>
{% endfor %}


<script>
    function send(ver, id) {
        var dict = {};
        var block_id = 'attempt-' + id;
        var elem = document.getElementById(block_id);
        dict["verdict"] = ver;
        dict["attempt_id"] = id;
        dict["csrfmiddlewaretoken"] = "{{ csrf_token }}";

        $.ajax({
            url: '/',
            type: 'POST',
            data: dict,
            success: function(response) {
                if (response.action == "rate") {
                    document.getElementById(id).innerHTML = response.rate + "%";
                } else if (response.action == "delete") {
                    elem.remove();
                }
            }
        })
    }

    function delete_attempt(id) {
        var args = {};
        var block_id = 'attempt-' + id;
        var elem = document.getElementById(block_id);
        args['attempt_id'] = id;
        args['csrfmiddlewaretoken'] = "{{ csrf_token }}";

        $.ajax({
            url: '/',
            type: 'POST',
            data: args,
            success: function() {
                elem.remove();
            }
        })
    }

    function report_html(type, id) {
        var elem = document.getElementById('new-text-' + id);

        $.ajax({
            url: '/?report=' + type,
            type: 'GET',
            success: function(response) {
                elem.innerHTML = response;

                var type_hidden = document.getElementById('obj_type');
                type_hidden.value = type;

                var id_hidden = document.getElementById('type-id');
                id_hidden.value = id;
            }
        })
    }

    function report_send() {
        var args = {};

        var id = document.getElementById('type-id');
        var type = document.getElementById('obj_type');
        var full_elem = document.getElementById('report-html'); // for delete
        var text = document.getElementById('id_message');

        args['csrfmiddlewaretoken'] = "{{ csrf_token }}";
        args['message'] = text.value;
        args['obj_type'] = type.value;
        args['type-id'] = id.value;
        args['sending'] = "send";

        $.ajax({
            url: '/',
            type: 'POST',
            data: args,
            success: function() {
                full_elem.remove()
            }

        })


    }

    function comment_html(id, achievement_caption) {
        var elem = document.getElementById('new-text-' + id);

        $.ajax({
            url: '/?comment=' + 'send',
            type: 'GET',
            success: function(response) {
                elem.innerHTML = response;

                var id_hidden = document.getElementById('id');
                id_hidden.value = id;

                var caption_hidden = document.getElementById('ach');
                caption_hidden.value = achievement_caption;
            }
        })
    }

    function report_comment(type, id) {
        var args = {};

        args['csrfmiddlewaretoken'] = "{{ csrf_token }}";
        args['type'] = type;
        args['id'] = id;
        args['action'] = "report";

        $.ajax({
            url: '/',
            type: 'POST',
            data: args,
        })

    }

    function delete_comment(type, id ) {
        var elem = document.getElementById('comment-' + id);

        var args = {};

        args['csrfmiddlewaretoken'] = "{{ csrf_token }}";
        args['type'] = type;
        args['id'] = id;
        args['action'] = "delete";

        $.ajax({
            url: '/',
            type: 'POST',
            data: args,
            success: function(){
                elem.remove()
            }
        })
    }

    var images = document.querySelectorAll('.card-img-top'),
        modal = document.querySelector('.modal');
    images.forEach(function(image) {

        image.addEventListener('click', function(event) {
            modal.innerHTML = '<div class="modal-content"><img src="' + event.target.src + '" style="width: 100%;"></div>';
            modal.style.display = 'block';
        });
    });

    modal.addEventListener('click', function() {
        this.style.display = 'none';
    });

</script>

{% endblock %}
