{% extends 'base.html' %}
{% block title %} Changing achievement {% endblock %}

{% block body %}
{% block content %}

<article class="card card-body achievement_card" style="width: 70%; margin: 0 auto;">
    <header>
        <h2 class="achievement_caption">Изменение достижения {{ achievement.caption }}</h2>
    </header>
    <div class="img_container" style="width: 98%;"><img class="card-img-top" src="{{ MEDIA_URL }} {{ achievement.photo.url }}" alt="ded"></div>
    <main>
        <form action="" enctype="multipart/form-data" method="post" style=""> {% csrf_token %}

            <h5>Новое изображение:</h5> {{ form_image.photo }}
            <br><br>
            {{ form_text.as_p }}

    <input type="submit" class="btn btn-primary" value="Изменить">
    </form>
        </main>
</article>
{% endblock %}
{% endblock %}
