{% extends 'base.html' %}
{% block title %} Changing you information {% endblock %}

{% block body %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="card" style="width: 25rem;">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Изменение информации о себе:</h3>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if not info %}
                        <p><img src="{{ MEDIA_URL }} {{ info.img.url }}" alt="ded" width="256px"></p>
                        {% else %}
                        <p>У вас нет аватара</p>
                        {% endif %}
                        <p style="margin-left: 75px;">{{ form.avatar }}</p>
                        <p>{{ form.username.label }}{{ form.username }}</p>
                        <button type="submit" class="btn btn-outline-primary">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% endblock %}