{% extends 'base.html' %}
{% block title %} Comment change {% endblock %}

{% block body %}
{% block content %}

<!-- {#  TODO html: change style of this page #} -->

<h2>Изменения комментария у достижения {{ achievement.caption }}</h2>
<p>Был комментарий: {{ comment.commentary }}</p>
<p>Оценка: {{ comment.rate }}</p>


<form action="" method="post"> {% csrf_token %}

    {{ form.as_p }}
    <input type="submit" value="Изменить">

</form>

{% endblock %}
{% endblock %}