{% extends 'base.html' %}
{% block title %} Select an achievement {% endblock %}
{% block content %}


<div class="card card-body">
            <h3>Результаты по запросу: {{ query }}</h3>
            <ul style="font-size: 1.2rem; padding-left: 5px; margin-top: 10px;">
                {% for i in achievements %}
                    <a href="{{i.achievement.caption}}/">{{ i.achievement.caption }}</a>
                <div class="difficulty" title="">
                    <svg height="12" width="50">
                        <circle cx="4" cy="5" r="4" fill="#4CAF50"> </circle> <!-- Easy -->
                        <circle cx="16" cy="5" r="4" fill="#8BC34A"> </circle><!-- +Intermediate -->
                        <circle cx="28" cy="5" r="4" fill="#F44336"> </circle><!-- +Hard -->
                    </svg>
                </div>
                {% endfor %}
            </ul>
</div>

{% endblock %}
