{% extends 'base.html' %}
{% block title %} Select an achievement {% endblock %}
{% block content %}


<div class="card card-body" style="width: 45rem; margin: 0 auto;">
    <h2>Список достижений</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="display:inline-block; margin-top: 30px; margin-bottom: -20px;">{{ form.as_p }}</div>
        <input type="submit" name="submit" value="Искать" style="display: inline-block;">
    </form>
    <br>
    <ul type="none" style="font-size: 1.3rem; margin: 0 0 10px 0; padding: 0;">
        {% for i in achievements %}
        <li style="display: inline-block;"><a href="{{ i.caption }}/">{{ i.caption }}</a></li>
        <div class="difficulty" title="" >
            <svg height="12" width="50">
                {% if i.difficulty >= 1 %}
                    <circle cx="4" cy="5" r="4" fill="#4CAF50"> </circle> <!-- Easy -->
                    {% if i.difficulty >= 2 %}
                        <circle cx="16" cy="5" r="4" fill="#8BC34A"> </circle><!-- +Intermediate -->
                        {% if i.difficulty >= 3 %}
                            <circle cx="28" cy="5" r="4" fill="#F44336"> </circle><!-- +Hard -->
                        {% endif %}
                    {% endif %}
                {% endif %}
            </svg>
        </div>
        <br>
        {% if request.user.id == i.creator.id or request.user.is_superuser %}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="achievement_id" value="{{ i.id }}">
            <input type="submit" class="btn btn-danger" value="Удалить">
        </form>
        {% endif %}
        {% endfor %}

    </ul>
</div>

{% endblock %}
