{% extends 'base.html' %}
{% block title %} Creating an achievement {% endblock %}

{% block content %}

<section class="container-fluid add-ach">
    <h2>Добавить достижение</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message | safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-file-row-1" style="">

            <div class="upload-file-container" style="overflow: hidden;">
                <img id="blah" src="" alt="" />
                <div class="upload-file-container-text">
                    <span id="lab">Add<br />photo</span>
                    {{ form_image.photo }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_text.caption }}
            <small>Чтобы разместить теги впишите их в название достижения: Название #это_тег_1 #это_тег_2</small>
        </div>

        <div class="form-group">
            {{ form_text.description }}
        </div>
        <div class="choose_difficulty">
            <h4>Выберите сложность</h4>
            {{ form_text.difficulty }}
        </div>
        <div class="text-center creat-button">
            <button type="submit" class="btn btn-outline-primary">Создать</button>
        </div>
    </form>
</section>


<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(69)
                    .height(69);
            };
            reader.readAsDataURL(input.files[0]);
            lab.remove();
        }
    }
    id_photo.setAttribute("onchange", "readURL(this);");


</script>
{% endblock %}
