{% extends 'base.html' %}
{% block title %} Creating an attempt {% endblock %}

{% block content %}

<!-- {#  TODO html: change style of this page #} -->
<div class="card card-body">
<form action="" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}
    <h4>План выполнения достижения:</h4>
    <div id="options_block">
        <input name="option1" type="text" size=35><br>
    </div>

    <button id="remove_option_btn" class="action_btn" type="button">-</button>
    <button id="add_option_btn" class="action_btn" type="button">+</button>

    <input type="submit" name="submit" value="Отправить">
</form>
</div>
<script>
    let options_added = 0;

    function add_option() {
        if (options_added <= 7) {
            let inp = document.createElement("input")
            let brs = document.createElement("br")
            inp.setAttribute("size", 35); // Ширина инпутов
            inp.setAttribute("name", "option" + (options_added + 2).toString()); // Автоматическое присваивание имени
            options_block.appendChild(inp);
            options_block.appendChild(brs);
            options_added++;
        }

    };

    function remove_option() {
        if (options_added >= 1) {
            let sel = document.getElementById("options_block");
            options_added--;
            sel.removeChild(sel.lastChild);
        }
    };

    add_option_btn.addEventListener('click', add_option);
    remove_option_btn.addEventListener('click', remove_option);

</script>

{% endblock %}
